.small_page {
		position: relative;
		width: 100%;
		height: 100%;
		}

			#index-title {
				display: inline-block;
				width: 10rem;
				margin-left: 3rem;
				border-radius: 1rem;
				box-sizing: border-box;
				border: .4rem solid cadetblue;
				box-shadow: 0 0 .2rem #5F9EA0;
				font-size: 1.2rem;
				text-align: center;
				font-weight: bold;
				background-color: #fff;
				padding: .2rem;
				color: cadetblue;
				text-shadow: 0 .1rem .1rem cadetblue;
				background-color: rgba(255, 255, 255, .5);
			}

			#index-logo {
				width: 4rem;
				margin-left: 6rem;
				animation: index_logo_rotate 4s infinite;
			}

			#start-page .center {
				position: absolute;
				margin-top: 50%;
			}

			#start-page .left {
				position: absolute;
				width: 50%;
				height: 100%;
				left: 0;
				background-color: aquamarine;
			}

			#start-page .right {
				position: absolute;
				width: 50%;
				height: 100%;
				right: 0;
				background-color: #fff;
			}

			@keyframes index_logo_rotate {
				from {
					transform: rotateY(0deg)
				}

				to {
					transform: rotateY(360deg);
				}
			}

			#start-page .slide_prompt {
				position: absolute;
				margin: 0;
				font-size: 1.2rem;
				height: 1.5rem;
				line-height: 1.5rem;
				transform: rotate(90deg);
				color: gray;
				color: #fff;
				right: 2rem;
				bottom: 0;
				padding: .3rem;
				border-radius: 1rem 0 0 1rem;
				background-color: aquamarine;
				font-weight: bold;
				box-shadow: 0 0rem 1rem #7FFFD4;
			}

			#start-page .slide_prompt:hover {
				box-shadow: 0 0rem .5rem #7FFFD4;
			}

			#start-page {
				box-shadow: 0 0 2rem aquamarine;
				z-index: 1;
			}
